@model Airlines.Models.Должности

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Должности</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.НаименованиеДолжности)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.НаименованиеДолжности)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Оклад)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Оклад)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Обязанности)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Обязанности)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Требования)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Требования)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.КодЭкипажаNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.КодЭкипажаNavigation.КодЭкипажа)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.КодДолжности">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
