@model IEnumerable<Airlines.Models.Должности>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.НаименованиеДолжности)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Оклад)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Обязанности)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Требования)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.КодЭкипажаNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.НаименованиеДолжности)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Оклад)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Обязанности)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Требования)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.КодЭкипажаNavigation.КодЭкипажа)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.КодДолжности">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.КодДолжности">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.КодДолжности">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
